.change-admin-description{
    padding: 10px 0px;
}

.icon-hover:hover{
    color: var(--colorPrimary);
    transition: .2s ease-in-out;

}

.change-password-input-field{
    padding: 60px 0px;
}

.change-admin-password-button-container{
    display: flex;
    justify-content: end;
}

.admin-password-container{
    border: 2px solid red;
    border-radius: 8px;
    background-color: #ffffff;
}

.admin-password-section{
    min-height: 100vh;
    background-color: #E8E8E8;
}