:root{
    --colorPrimary:#4286EE;
    --colorSecondary: #F288B6;
    --colorButton:#25AA52;
    --colorButtonText:#fff;
    --colorWhiteText:#fff;
    --colorBlackText:#080404;
    --colorGreenText:#4caf50;
    --colorRedText:#f6465d;
    --colorBG:#f1f1f4;
}