.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    min-height: 400px;
    height: 100%;
    background-image: linear-gradient(to bottom, #5CB1FD , #3876E9);
    box-shadow: 2px 0px 5px 5px #EBEBEB;
}

.el-menu-vertical-demo.el-menu--collapse{
    background-image: linear-gradient(to bottom, #5CB1FD , #3876E9);
    box-shadow: 2px 0px 5px 5px #EBEBEB;
    height: 100vh;
}

.el-menu-vertical-demo {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.side-menu-container{
    min-height: 100vh;
    height: 100%!important;
    display: flex;
    flex-direction: column;
}

.sidemenu-text-collapse-container{
    display: flex;
    /* gap: 5px; */
    padding: 20px var(--el-menu-base-level-padding);
}

.el-menu-vertical-demo:not(.el-menu--collapse) .sidemenu-text-collapse-container{
    border-bottom: 2px solid rgb(255, 255, 255);
    /* width: 200px; */
}

.el-menu-vertical-demo.el-menu--collapse .sidemenu-text-collapse-container{
    border-bottom: 2px solid rgb(255, 255, 255);
    
}

.sidemenu-logo{
    width: 80%;
}

.sidemenu-icon{
    /* padding-right: 8px; */
}
.sidemenu-collapse-container{
    width: 40%;
}

.el-menu-item.is-active{
    color: #ffffff!important;
    background-color:#10101E!important ;
    font-weight: bold;
}

.el-menu-item .el-menu-tooltip__trigger{
    padding: 0px!important;
    left: 50%!important;
    transform: translateX(-35%);
}

.function-name{
    padding: 10px var(--el-menu-base-level-padding);
    color:#EBEBEB;
    text-transform: uppercase;
    height: 50px;
    display: flex;
    align-items: center;
}

.name-collapse{
    height: 50px;
    z-index:0;
}


.notification-badge{
    padding: 0px 20px;
}

.notification-value{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 500px;
    border: 2px solid red;
    background-color: red;
    color: white;
    height: 20px;
    width: 20px;
}

.menu-content {
    flex-grow: 1;
    /* overflow-y: auto;  */
}

.user-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--el-menu-base-level-padding);
    border-top: 2px solid #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

.user-info-container::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: white; 
    transition: width 0.3s ease-in-out;
    z-index: 0;
}

.user-info-container:hover::after {
    width: 100%;
}

.user-icon-container{
    /* border:2px solid red; */
    background-color: #ffffff;
    height: 40px;
    width: 40px;
    border-radius: 500px;
}
.user-info-container .username,
.user-info-container .user-icon-container,
.user-info-container .logout-icon {
    position: relative; /* Keep text/icons above background animation */
    z-index: 1;
}